# In the file /etc/systemd/system/obd2_can_driver_daemon.service
[Unit]
Description=OBD2 CAN Driver Daemon
After=network.target

[Service]
Type=simple
ExecStart=/opt/obd2_can_driver/bin/obd2_can_driver_daemon can0 can0
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target